#zm_data_div { margin-bottom: 10px }
#canvasDiv   { overflow: hidden; background-color: var(--opac-85) }

@media(pointer=coarse){
    #zm_floater_container#zm_floater_container { 
        width: calc(40% * var(--zm-floater-scale));
        height: auto;
    }
    #zm_floater_container:has(#zm_collapse[data-collapsed="true"]){
        width: calc(40% / 3 * var(--zm-floater-scale));
    }
}

@media(pointer:coarse) and (orientation:landscape){
    #zm_floater_container#zm_floater_container {
        width: auto;
        top: 5px;
    }
    #zm_floater_container:has(#zm_collapse[data-collapsed="true"]){
        width: calc(40% / 3 * var(--zm-floater-scale));
    }
}

@media not (pointer: coarse){
    #zm_floater_container:has(#zm_collapse[data-collapsed="true"]) {
        width: calc(33px * var(--zm-floater-scale));
    }
}

#zm_floater_container:has(#zm_collapse[data-collapsed="true"]) {
    width: calc(33px * var(--zm-floater-scale));

    button:not(#zm_collapse) { display: none; }
}

#colorSelector { z-index: 1; right: 5px }
#zm_floater_container {
    position: absolute;
    display: grid;

    right: 5px;
    bottom: 5px;

    width: calc(100px * var(--zm-floater-scale));
    max-width:  calc(200px * var(--zm-floater-scale));
    max-height: calc(200px * var(--zm-floater-scale));
    aspect-ratio: 1;

    border: 2px solid white;
    background-color: black;
    font-size: calc(120% * var(--zm-floater-scale));

    button { text-align: center; border: 0px solid white }

    button:where([data-pos="tl"]) { border-width: 0px 2px 2px 0px };
    button:where([data-pos="tr"]) { border-width: 2px 2px 0px 0px };
    button:where([data-pos="bl"]) { border-width: 0px 0px 2px 2px };
    button:where([data-pos="br"]) { border-width: 2px 0px 0px 2px };
}

#canvasDiv:has(#colorSelector[style *= "block"]) #zm_floater_container {
    bottom: 50px;
}

.zm_corner { border: 2px solid white; }

#zm_collapse {
    grid-row: 3;
    grid-column: 3;
}

#zm_collapse[data-collapsed="true"] {
    grid-row: 1;
    grid-column: 1;
    aspect-ratio: 1;
    border-width: 0px;
}